[project]
	description = Using Ruby to inject google calendar events into a linux users calendar file (used by calendar)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frank Booth (fr4nkus)
[access "refs/for/refs/*"]
	read = group user/Frank Booth (fr4nkus)
	push = group user/Frank Booth (fr4nkus)
	label-Code-Review = -2..+2 group user/Frank Booth (fr4nkus)
	label-Verified = -1..+1 group user/Frank Booth (fr4nkus)
	rebase = group user/Frank Booth (fr4nkus)
	removeReviewer = group user/Frank Booth (fr4nkus)
	submit = group user/Frank Booth (fr4nkus)
[access "refs/heads/*"]
	read = group user/Frank Booth (fr4nkus)
	create = group user/Frank Booth (fr4nkus)
	push = +force group user/Frank Booth (fr4nkus)
	pushMerge = group user/Frank Booth (fr4nkus)
[access "refs/tags/*"]
	push = +force group user/Frank Booth (fr4nkus)
	pushTag = group user/Frank Booth (fr4nkus)
	pushSignedTag = group user/Frank Booth (fr4nkus)
